@import 'theme', 'main';

body{
    background-image: url('../assets/background.webp');
    
}
#main{
    background-color: rgba(255,255,255,0.85);
    background-blend-mode: lighten;
}
h1 {
    text-align: center;
    margin-top: $space-5;
}
h2 {
    color: $brown;
}
.card {
        border-radius: 30px;
        box-shadow: $shadow-color;
        margin-inline: $space-2;
        display: flex;
        min-width: 30%;
        max-width: 30%;
        align-self: stretch;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .img-container{
          border-radius: 30px 30px 0px 0px;
          width: 100%;
          margin: 0px;
          background-color: rgba($color: $secondary, $alpha: 0.3);
          padding: $space-3 0px $space-3 0px;
          img {
            margin-inline: $space-3;
            border-radius: 20px;
            object-fit:contain;
            max-height: 40vh;
            margin: 0px;
              
          }
          &:hover {
            opacity: 0.6;
          }
        }
        .text-container {
          padding: $space-2;
          background-color: rgba($color: $white, $alpha: 0.5);
          border-radius: 0px 0px 30px 30px;
          a { 
              color: $brown;
              text-decoration: none;
              &:hover{
                opacity: 0.6;
              }
            }
          h2 {
            margin: $space-2 $space-2 $space-2 0px;
            
          }
          p {
            padding: $space-2;
            span {
              color: $brown;
              font-weight: bold;
            }
          }
        }
        
    }
section {
    flex-wrap: wrap;
    overflow-wrap: normal;
    padding: $space-3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: $space-1;
    margin-bottom: $space-1;
}
@media (min-width: 769px) and (max-width: 1023px) {
    section {
        padding: $space-3;
    }
    .card {
      min-width: 45%;
      margin-bottom: $space-3;
    }
    
}
@media (max-width: 768px) {
    h1 {
        font-size: calc($font-size-0/1.5);
        margin-bottom: 0;
    }
    section {
        padding: $space-1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .card {
      min-width: 90%;
      margin-inline: $space-0;
      margin-bottom: $space-3;
      align-self: center;
      img {
        margin-inline: $space-0;
        max-width: 80%;
        height: auto;
        max-height: 90%;
      }
    }

}