@import 'theme', 'main';

body{
    background-image: url('../assets/background.webp');
    
}
#main{
    background-color: rgba(255,255,255,0.85);
    background-blend-mode: lighten;
}
h1 {
    text-align: center;
    margin-top: $space-5;
    margin-bottom: $space-2;
}
h2 {
    color: $brown;
}
.card {
        margin: $space-1;
        padding: $space-1;
        display: flex;
        width: 20%;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: $shadow-color;
        background-color: $white;
        img {
            border-radius: 15px;
            margin: $space-1;
            max-width: 80%;
            max-height: 50%;
        }
        p {
            margin: $space-1;
        }
    }
section {
        padding: $space-3;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: $space-1;
        margin-bottom: $space-1;
    }
@media (min-width: 1024px) {
    section {
        padding: $space-3;
        flex-direction: row;
        margin-top: $space-1;
        margin-bottom: $space-1;
    }
    

}
@media (min-width: 769px) and (max-width: 1023px) {
    section {
        padding: $space-3;
        display: flex;
        flex-direction: row;
        margin-top: $space-2;
        margin-bottom: $space-2;
    }
    .card {
        margin-inline: $space-3;
        display: flex;
        width: 35%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        img {
            max-width: 90%;
        }
    }

}
@media (max-width: 768px) {
    h1 {
        font-size: calc($font-size-0/1.5);
        margin-bottom: 0;
    }
    section {
        padding: $space-3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 80%;
        img {
            margin: $space-2;
            max-width: 80%;
        }
        
    }
    #section-2 {
        flex-direction: column-reverse;
    }

}